<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Pitch</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <h1
        class="navbar-brand"
        href="#"
        style="font-family: 'Germania One', cursive"
      >
        <strong> PITCHING APPLICATION </strong>
      </h1>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('main.index') }}"
              ><strong>Home</strong><span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{{ url_for('main.interview') }}"
              >Interview Pitches</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{{ url_for('main.product') }}"
              >Product Pitches</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{{ url_for('main.business') }}"
              >Business pitches</a
            >
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right pr-3">
          {% if current_user.is_authenticated %}
          <li>
            <a
              class="pr-3 text-light"
              href="{{url_for('main.profile',uname=current_user.username)}}"
              >Profile</a
            >
          </li>
          <li>
            <a class="text-light" href="{{url_for('auth.logout')}}">Sign out</a>
          </li>
          {% else %}
          <li>
            <a class="text-light" href="{{url_for('auth.login')}}">Sign in</a>
          </li>
          {%endif%}
        </ul>
      </div>
    </nav>

    {% block content %} 
    
    {% endblock %}

  </body>
</html>